
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li 
{
    float: left;
}

li a 
{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
}

li a:hover {
    background-color: red;
}

.para1 
{
	color: red;
	font-size: 40px;
	font-style: oblique;
	margin-left: 35%;
}

#one 
{
	width: 90%;
	height: 100px;
	margin: 0px auto;
}

.para2 
{
    font-size: 30px;
    margin-top: 45px;
    text-indent: 40px;
}


.para4 
{
	clear: both;
	font-size: 30px;
}

.para5 
{
	clear: both;
	font-size: 30px;
}

.para6
{
	clear: both;
	font-size: 30px;
}

.para7 
{
	clear: both;
	font-size: 40px;
	font-style: oblique;
    margin-left: 40%;
}

footer 
{
	background-color: black;
	color: white;
	clear: both;
}

.para8
{
    margin-left: 37%;
    text-indent: 70px;
}

.para9
{
    margin-left: 37%;
    text-indent: 70px;
}

.para9 a 
{
	color: white;
	text-decoration: none;
}


.icons
{
	margin-left: 40%;
}

 a 
{
	color: white;
	text-decoration: none;
}

	  .fa-square-facebook{
     padding: 5px;
  	font-size: 30px;
   	margin-right: 10px;
  }
	  .fa-square-twitter{
  	padding: 5px;
  	font-size: 30px;
  	margin-right: 10px;
  	margin-left: 10px;
  }

   .fa-linkedin{
   	 	padding: 5px;
  	font-size: 30px;
  	margin-right: 10px;
  	margin-left: 10px;
   }
  

  .fa-instagram{
        padding: 5px;
  	font-size: 30px;
   margin-left: 10px;
  }








